/* Product card design */
.product-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
    height: 100%; /* Set card height to 100% of its container */
    margin-bottom: 20px; /* Add some bottom margin to create space between cards */
}

    .product-card:hover {
        transform: translateY(-5px);
    }

    .product-card .card-img-top {
        width: 100%;
        height: auto; /* Let the image adjust its height according to the aspect ratio */
        object-fit: cover;
        border-bottom: 1px solid #ddd;
    }

.product-details {
    padding: 15px;
    height: calc(100% - 150px); /* Adjust height of card body (100% - image height) */
}

    .product-details h5 {
        font-size: 1.2rem;
        margin-bottom: 5px;
    }

    .product-details p {
        margin-bottom: 10px;
    }

    .product-details .price {
        font-weight: bold;
        color: #007bff;
    }

    .product-details .brewery {
        font-style: italic;
    }

.info-button {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 0 0 10px 10px;
    transition: background-color 0.3s ease;
}

    .info-button:hover {
        background-color: #0056b3;
    }

/* Filtering design */
.brewery-filter-container {
    margin-bottom: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.brewery-filter-button {
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .brewery-filter-button.active {
        background-color: #007bff;
        color: #fff;
    }

/* Media query for mobile devices */
@media (max-width: 767px) {
    .row-cols-md-3 .col {
        flex: 0 0 100%; /* Make each column take up 100% of the container width */
        max-width: 100%;
    }
}
.new-product {
    position: relative;
    margin-bottom: 20px; /* Adjust margin from the bottom */
}

    .new-product::before {
        content: "New";
        position: absolute;
        top: 0px; /* Adjust the distance above the card */
        left: 50%;
        transform: translateX(-50%);
        background-color: #ff0000; /* Background color for the "New" label */
        color: #ffffff;
        padding: 5px 10px;
        border-radius: 5px;
        font-weight: bold;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2); /* Add shadow */
    }