/* Add styles for the container holding both images */
.image-container {
    position: relative;
    display: inline-block;
}

/* Add styles for the product image */
.product-image {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Add styles for the brewery container */
.brewery-container {
    position: absolute;
    bottom: 0;
    right: 0;
    max-height: 100px;
    max-width: 90px;
    z-index: 1; /* Set a higher z-index to ensure it appears on top */
}

/* Add styles for the brewery image */
.brewery-image {
    max-width: 80%;
    height: auto;
    display: block;
    margin-bottom: 20px;
}
.star-button {
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

    .star-button.rated {
        color: #ffc107; /* Gold color for rated stars */
    }

    .star-button.not-rated {
        color: #ddd; /* Light grey for not-rated stars */
    }

.rated-products-list {
    list-style-type: none;
    padding: 0;
}

.rated-product {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.rating-value {
    font-size: 18px;
    color: #ffc107; /* Gold color for the star */
    margin-right: 10px;
    display: inline-flex;
    align-items: center;
}

.star-rating {
    margin-left: 5px;
    color: #ffc107; /* Gold color for the star */
}

.product-name {
    font-size: 16px;
    color: #333; /* Dark grey color for text */
}

/* Optional: Add a hover effect to the rated product items */
.rated-product:hover {
    background-color: #f8f8f8; /* Light grey background on hover */
}

