.text-center .display-4 {
    color: #FFF;
}
.container-wrapper {
    border: 2px solid #ccc;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 70px;

}
    .container-wrapper h1 {
        margin-top: 15px;
        text-align: center;
    }
    .container-wrapper .section-header {
        padding-bottom: 10px;
        border-bottom: 2px solid #000;
        margin-bottom: 20px;
    }
