/* Base Styles */
html {
    font-size: 16px;
}

body {
    margin-bottom: 0; /* or adjust it to a smaller value */
    overflow-x: hidden;
    background-color:yellowgreen;
}

.navbar-nav .nav-link,
.navbar-text,
.navbar-brand {
    color: white;
}

    .navbar-nav .nav-link:hover {
        color: orange !important;
    }

.logo-img {
    filter: invert(1);
    width: 100px;
    height: auto;
}

.navbar-toggler {
    background-color: white !important;
}

.dropdown-item-custom {
    color: blue !important;
}

    .dropdown-item-custom:hover {
        color: red !important;
    }

/* Footer Styles */
/* Custom Footer Styles */
footer {
    background-color: black;
    color: white;
    padding: 0;
}

    footer h4 {
        font-size: 18px;
        text-transform: capitalize;
        margin-bottom: 15px;
        position: relative;
    }

        footer h4:before {
            content: '';
            position: absolute;
            height: 2px;
            width: 40px;
            left: 0;
            bottom: -5px;
            background-color: orange;
        }

    footer ul {
        list-style-type: none;
        padding: 0;
    }

.footer li.list {
    margin-bottom: 15px;
}

    .footer li.list a {
        color: white;
        text-decoration: none;
        font-size: 16px;
        display: block;
        transition: .4s;
    }

        .footer li.list a:hover {
            color: orange;
            transform: translateX(-10px);
        }

.social-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 5px;
    transition: transform 0.3s ease-in-out;
    text-decoration: none; /* Remove underline */
}

    .social-btn:hover {
        transform: scale(1.1);
    }

    .social-btn i {
        color: orange;
        font-size: 20px; /* Adjust the icon size as needed */
    }

.www-link a {
    color: orange !important;
    text-decoration: none;
}
.footer hr {
    background-color: white;
}

.footer p {
    color: white;
    font-size: 14px;
    margin: 0;
    text-align: center;
}
@media (max-width: 767px) {
    body {
        overflow-x: hidden; /* Or visible, depending on your design */
    }
}