/* Base Styles */
@import url('https://fonts.googleapis.com/css?family=Poppins:300');

html {
    font-size: 16px;
}

body, html {
    margin: 0;
    font-family: 'Poppins', sans-serif; /* Poppins font */
    background: linear-gradient(#30142b, #2772a1);
    position: relative;
    min-height: 100%;
    min-width:100%;
}

.navbar-nav .nav-link,
.navbar-text,
.navbar-brand {
    color: white;
}

    .navbar-nav .nav-link:hover {
        color: orange !important;
    }

.logo-img {
    filter: invert(1);
    width: 100px;
    height: auto;
}

.navbar-toggler {
    background-color: white !important;
}

.dropdown-item-custom {
    color: blue !important;
}

    .dropdown-item-custom:hover {
        color: red !important;
    }

footer {
    background-color: black;
    color: white;
    padding: 0;
    margin-top: auto;
}

    footer h4:before {
            content: '';
            position: absolute;
            height: 2px;
            width: 40px;
            left: 0;
            bottom: -5px;
            background-color: orange;
        }

        footer h4:before {
            content: '';
            position: absolute;
            height: 2px;
            width: 40px;
            left: 0;
            bottom: -5px;
            background-color: orange;
        }

    footer ul {
        list-style-type: none;
        padding: 0;
    }

.footer li.list {
    margin-bottom: 15px;
}

    .footer li.list a {
        color: white;
        text-decoration: none;
        font-size: 16px;
        display: block;
        transition: .4s;
    }

        .footer li.list a:hover {
            color: orange;
            transform: translateX(-10px);
        }

.social-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 5px;
    transition: transform 0.3s ease-in-out;
    text-decoration: none;
}

    .social-btn:hover {
        transform: scale(1.1);
    }

    .social-btn i {
        color: orange;
        font-size: 20px;
    }

.www-link a {
    color: orange !important;
    text-decoration: none;
}

.footer hr {
    background-color: white;
}

.footer p {
    color: white;
    font-size: 5px;
    margin: 0;
    text-align: center;
}
