@{
    ViewData["Title"] = "O nás";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<div class="text-center">
    <!-- Info button -->
    <a class="btn btn-outline-dark mt-auto" href="@Url.Action("HallOfFame", "HallOfFame")">Síň slávy</a>
</div>