@model CarouselProductViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="beercontainer">
    <img src="~/img/base/CardDescription.png" alt="First" class="first-img">
    <div class="content">
        Něco
    </div>
</div>
<div class="text-center">
    <!-- Info button -->
    <a class="btn btn-outline-dark mt-auto" href="@Url.Action("HallOfFame", "HallOfFame")">Síň slávy</a>
</div>

@section Styles
    {
    <!-- Include Card.css -->
    <link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />
}

