@model CarouselProductViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="beercontainer">
    <img src="~/img/base/Card.png" alt="First" class="first-img">
    <div class="content">
        Něco
    </div>
</div>

@section Styles
    {
    <!-- Include Card.css -->
    <link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />
}

