<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Restaurant Menu</title>
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center mb-4">Our Menu</h2>

        <div class="row">
            <!-- Drinks -->
            <div class="col-md-6">
                <div class="mb-4">
                    <h4>Nápoje</h4>
                    <hr>
                </div>
                <div class="mb-3">
                    <div class="row">
                        <div class="col-md-6">
                            <p>Kofola (0,3 l/0,5 l)</p>
                        </div>
                        <div class="col-md-6 text-right">
                            <p>25,-/ 35,-</p>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="row">
                        <div class="col-md-6">
                            <p>Royal Crown Cola (0,3l )</p>
                        </div>
                        <div class="col-md-6 text-right">
                            <p>30,-/ 40,-</p>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="row">
                        <div class="col-md-6">
                            <p>River Tonic (0,5 l)</p>
                        </div>
                        <div class="col-md-6 text-right">
                            <p>35,-</p>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="row">
                        <div class="col-md-6">
                            <p>Džus Rauch (0,2 l)</p>
                            <small>Jahoda, Hruška</small>
                        </div>
                        <div class="col-md-6 text-right">
                            <p>45,-</p>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="row">
                        <div class="col-md-6">
                            <p>Džus Rani (0,24 l - plech)</p>
                            <small>Broskev, Mango, Pomeranč, Ananas</small>
                        </div>
                        <div class="col-md-6 text-right">
                            <p>45,-</p>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="row">
                        <div class="col-md-6">
                            <p>Jablečný Mošt (0,3 l /0,5 l)</p>
                        </div>
                        <div class="col-md-6 text-right">
                            <p>35,- / 50,-</p>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="row">
                        <div class="col-md-6">
                            <p>Rajec neperlivý / Jemně perlivý (0,33 l)</p>
                        </div>
                        <div class="col-md-6 text-right">
                            <p>35,-</p>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="row">
                        <div class="col-md-6">
                            <p>Kohoutková voda s citrónem (1 l)</p>
                        </div>
                        <div class="col-md-6 text-right">
                            <p>39,-</p>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="row">
                        <div class="col-md-6">
                            <p>Domácí limonáda (0,5 l)</p>
                            <small>Máta, Bez, Zázvor, Malina, Višeň, Grapefruit, Pomeranč</small>
                        </div>
                        <div class="col-md-6 text-right">
                            <p>49,-</p>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="row">
                        <div class="col-md-6">
                            <p>Mléčný koktejl (0,5 l)</p>
                            <small>Pistácie, Banán, Vanilka</small>
                        </div>
                        <div class="col-md-6 text-right">
                            <p>55,-</p>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="row">
                        <div class="col-md-6">
                            <p>Svařené víno (0,2 l)</p>
                            <small>Bílé, Červené</small>
                        </div>
                        <div class="col-md-6 text-right">
                            <p>59,-</p>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="row">
                        <div class="col-md-6">
                            <p>Espresso</p>
                        </div>
                        <div class="col-md-6 text-right">
                            <p>50,-</p>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="row">
                        <div class="col-md-6">
                            <p>Cappuccino</p>
                        </div>
                        <div class="col-md-6 text-right">
                            <p>60,-</p>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="row">
                        <div class="col-md-6">
                            <p>Cappuccino</p>
                        </div>
                        <div class="col-md-6 text-right">
                            <p>60,-</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Column 2 -->
            <div class="col-md-6">
                <!-- Section 2 -->
                <div class="mb-4">
                    <h4>Second Section</h4>
                    <hr>
                </div>

                <!-- Dish 3 -->
                <div class="mb-3">
                    <div class="row">
                        <div class="col-md-6">
                            <p>Dish 3</p>
                        </div>
                        <div class="col-md-6 text-right">
                            <p>$20.99</p>
                        </div>
                    </div>
                </div>

                <!-- Dish 4 -->
                <div class="mb-3">
                    <div class="row">
                        <div class="col-md-6">
                            <p>Dish 4</p>
                        </div>
                        <div class="col-md-6 text-right">
                            <p>$15.99</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
