@model Item

@{
    ViewData["Title"] = "Vytvoření položky";
}
<h1>@ViewData["Title"]</h1>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All"></div>
    <div class="mb-3">
        <label class="form-label" asp-for="Name">Název</label>
        <input class="form-control" asp-for="Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Section">Pivovar</label>
        <select class="form-control" asp-for="Section">
            <option value="Nápoje">Nápoje</option>
            <option value="Pivo">Pivo</option>
            <option value="Vína">Vína</option>
            <option value="Míchané">Míchané</option>
            <option value="Destiláty">Destiláty</option>
            <option value="Palačinky">Palačinky</option>
            <option value="Sendviče">Sendviče</option>
            <option value="Pity">Pity</option>
            <option value="Speciality">Speciality</option>
            <option value="Dezerty">Dezerty</option>
            <option value="Doplňky">Doplňky</option>
            <option value="Čaje">Čaje</option>
        </select>
        <span asp-validation-for="Section" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Description">Popisek</label>
        <input class="form-control" asp-for="Description">
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Price">Hlavní Cena</label>
        <input class="form-control" asp-for="Price">
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Price2">Druhá Cena (nevyplňovat pokud nejsou dvě ceny)</label>
        <input class="form-control" asp-for="Price2">
        <span asp-validation-for="Price2" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Potvrdit</button>
</form>

@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/Validations/FileContentValidation.js"></script>
}
