@model ChangePasswordViewModel

@{
    ViewData["Title"] = "Change Password";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header text-center">
                    <h2>Změna hesla</h2>
                </div>
                <div class="card-body">
                    @if (TempData["Error"] != null)
                    {
                        <div class="alert alert-danger">
                            <span><b>Sorry!</b> - @TempData["Error"] </span>
                        </div>
                    }

                    <form asp-action="ChangePassword">
                        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                        <div class="form-group mb-3">
                            <label asp-for="OldPassword" class="control-label">Staré heslo</label>
                            <input asp-for="OldPassword" class="form-control" placeholder="Staré heslo" type="password" />
                            <span asp-validation-for="OldPassword" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="NewPassword" class="control-label">Nové heslo</label>
                            <input asp-for="NewPassword" class="form-control" placeholder="Nové heslo" type="password" />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="ConfirmNewPassword" class="control-label">Potvrdit nové heslo</label>
                            <input asp-for="ConfirmNewPassword" class="form-control" placeholder="Potvrdit nové heslo" type="password" />
                            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                        </div>

                        <div class="form-group text-center">
                            <input type="submit" value="Změnit heslo" class="btn btn-primary" />
                            <a class="btn btn-secondary" asp-controller="Account" asp-action="Profile">Zrušit</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
