@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/login.css" />
}

<div id="logreg-forms">
    <form asp-action="Login" method="post" class="form-signin">
        <p style="text-align:center">Přihlásit se</p>
        <hr>
        @{
            if (Model?.LoginFailed == true)
            {
                <div class="text-danger">Přihlášení se nezdařilo</div>
            }
        }

        <div asp-validation-summary="All" class="text-danger"></div>

        <input asp-for="Username" type="text" id="inputUsername" class="form-control" placeholder="Jméno" autofocus="">
        <span asp-validation-for="Username" class="text-danger"></span>
        <input asp-for="Password" type="password" id="inputPassword" class="form-control" placeholder="Heslo">
        <span asp-validation-for="Password" class="text-danger"></span>
        <br />

        <div class="text-center">
            <button class="btn btn-success btn-block" type="submit"><i class="fas fa-sign-in-alt"></i> Přihlásit se </button>
        </div>

        <br />
        <br />
        <hr>
        <!-- <p>Don't have an account!</p>  -->
        <a asp-action="Register" class="btn btn-primary btn-block text-white" type="button" id="btn-signup"><i class="fas fa-user-plus"></i> Vytvořit nový účet </a>

    </form>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}