@model Product

@{
    ViewData["Title"] = "Vytvoření produktu";
}

<h1 style="color: white;">@ViewData["Title"]</h1>
<div class="custom-form-container">
    <form asp-action="Create" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="All"></div>
        <div class="container"></div>
        <div class="mb-3">
            <label class="form-label" asp-for="Name">Název</label>
            <input class="form-control" asp-for="Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="Price">Cena</label>
            <input class="form-control" asp-for="Price">
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="Description">Popisek</label>
            <input class="form-control" asp-for="Description">
        </div>
        <div class="mb-3">
            <label class="control-label">Pivovar</label>
            <select asp-for="BreweryId" class="form-control" asp-items="ViewBag.Breweries">
                <option>--Vyberte Pivovar--</option>
            </select>
        </div>
        <div class="mb-3">
            <label class="control-label">Typ piva</label>
            <select asp-for="TypeeId" class="form-control" asp-items="ViewBag.Typees">
                <option>--Vyberte Typ--</option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="Active">Aktivní položka?</label>
            <select class="form-control" asp-for="Active">
                <option value="true">Ano</option>
                <option value="false">Ne</option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="New">Novinka</label>
            <select class="form-control" asp-for="New">
                <option value="true">Ano</option>
                <option value="false">Ne</option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="Image">Obrázek</label>
            <input id="fileupload" class="form-control-file" asp-for="Image" type="file">
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Potvrdit</button>
    </form>
</div>
@section Styles
    {
    <link rel="stylesheet" href="~/css/CreateBrewery.css" asp-append-version="true" />
}
@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/Validations/FileContentValidation.js"></script>
}
